sudo: false
dist: bionic

language: php

matrix:
  include:
    - php: 7.0
      dist: xenial
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4

install:
  - composer install --no-interaction

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml --bootstrap vendor/autoload.php tests

after_success:
  - travis_retry php vendor/bin/php-coveralls

notifications:
  email: false
