<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./lib</directory>
      <directory suffix=".php">./models</directory>
    </include>
  </coverage>
  <testsuite name="unit-tests">
    <directory>./tests</directory>
  </testsuite>
</phpunit>
